
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>COLOR</th>
    <th>BIRTH DATE</th>
    <th>SEX</th>
    <th>DESCRIPTION</th>
  </tr>
  <tr>
    <td><%= @cat.id %></td>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
